.header,
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav a {
    margin-right: 1rem;
}

.nav a,
.nav button{
    width: 45px;
    height: 45px;
    background: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid transparent;
    cursor: pointer;
    padding: 1rem;
    font-size: 1rem;
}

.nav a:hover,
.nav a:focus,
.nav button:hover,
.nav button:focus{
    border-color: #fb1;
    box-shadow: 0 0 0 3px #fea;
    background: #fff;
}